.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #FAFAFA;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 52px;
}

.logo {
    width: 29.21px;
    height: 40.31px;
    overflow: hidden;
    margin-left: 11.69px;
    z-index: 5;
}

.menu__icon {
   z-index: 5;
   display: block;
   position: relative;
   width: 24px;
   height: 24px;
   cursor: pointer;
   margin-left: 12.52px;
}

.menu__icon::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./../images/menu_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__icon._active::before  {
    content: '';
    display: block;
    width: 20.03px;
    height: 24px;
    background-image: url('./../images/close_menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__body {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background: #fee8ce;
    padding: 40px 41px 40px 45px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__body._active {
    transform: translateX(0);
}

.menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 52px;
    background-color: #FAFAFA;
    z-index: 2;
}

.menu_list {
    margin: 40px auto;
    width: 227px;
}

.menu_list .menu-item {
    margin-bottom: 40px;
}

.menu_list .menu-item:last-child {
    margin-bottom: 0;
}

.menu-item {
    font-family: "Readex Pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #e75624;
}

.menu-item .sub-menu {
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu .menu-item {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #252525;
    margin-top: 15px;
    margin-bottom: 0;
}

@media screen and (min-width: 1440px) {

    .header__container {
        justify-content: space-between;
        padding: 0 100px 0 112px;
    }

    .header__menu {
        order: 2;
    }

    .logo {
        width: 70px;
        height: 92px;
        order: 1;
    }

    .menu__body {
        position: relative;
        padding: 0;
        transform: none;
        width: 100%;
        background: transparent;
        flex-direction: row;
    }

    .menu__body::before {
       display: none;
    }

    .menu__icon {
        display: none;
    }

    .menu_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        position: relative;
        width: 100%;
        gap: 40px;
    }

    .menu_list .menu-item {
        margin-bottom: 0;
    }

    .menu-item {
        margin: 0;
        position: relative;
        background: none;
        font-family: "Readex Pro", sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #e75624;
        padding: 37.33px 0;
    }

    .menu-item .sub-menu {
        position: absolute;
        top: 100%;
        left: -50%;
        border-radius: 10px;
        width: 220px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 27px 39px 24px 38px;
        display: none;
        z-index: 1000;
    }

    .sub-menu .menu-item {
        font-size: 16px;
        color: #e75624;
        margin-top: 0;
        padding: 0;
        position: relative;
        transition: color 0.3s ease;
    }

    .sub-menu .menu-item:hover {
        color: #fcb900;
    }

    .sub-menu .menu-item::after {
        content: '';
        display: block;
        width: 140px;
        height: 0;
        border-top: 1px solid #e75624;
        margin-top: 17px; 
        margin-bottom: 17px; 
    }

    .sub-menu .menu-item:last-child::after {
        content: none;
    }
}

/* Phone */
.header-phone {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #e75624;
    color: #fff;
    border: 1px solid #e75624;
    border-radius: 100px 0 0 100px;
    padding: 0 4.71px;
    margin-left: auto;
    z-index: 5;
    transition: background 0.3s ease, border 0.3s ease;
}

.header-phone:hover {
    background: #fcb900;
    border: 1px solid #fcb900;
}

.header-phone__image {
    width: 14px;
    height: 14px;
    overflow: hidden;
}

.header-phone__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-phone__number {
    font-family: "Readex Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

/* Phone in the menu */
.header-phone-in-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background: #e75624;
    border: 1px solid #e75624;
    border-radius: 100px;
    padding: 13px 20px;
    width: 227px;
    height: 46px;
    transition: background 0.3s ease, border 0.3s ease;
}

.header-phone-in-menu:hover {
    background: #fcb900;
    border: 1px solid #fcb900;
}

.header-phone-in-menu__image {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.header-phone-in-menu__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-phone-in-menu__number {
    font-family: "Readex Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

@media screen and (min-width: 1440px) {
    .header-phone {
        display: none;
    }
    
    .header-phone-in-menu__image {
        width: 14px;
        height: 14px;
    }
    
    .header-phone-in-menu__number {
        font-size: 16px;
    }
}
    